﻿
@{
    ViewData["Title"] = "Contact Us";
}

<h1 class="page__title">Contact Us</h1>
<section class="contactus__form">
    @await Html.PartialAsync("_contactForm")
</section>
<section class="contactus__info container">
    <div class="contactus__col left">
        <div class="contactus__row">
            <h2>Contact Information</h2>
            <div class="contactus__icon"><a href="tel:(469) 444-1878"><i class="fas fa-phone"></i> (469) 444-1878</a></div>
            <div class="contactus__icon"><i class="fas fa-fax"></i> (469) 444-1801</div>
            <p><strong>Appointed Person:</strong> Shelly L. Akerly, Office Manager</p>
            <div class="contactus__icon"><a href="mailto:sakerly@akerlylaw.com"><i class="fas fa-envelope"></i> sakerly@akerlylaw.com</a></div>

        </div>
        <div class="contactus__row">
            <h2>Hours of operation</h2>
            <p>Monday - Friday: 9:00am - 5pm</p>
        </div>
    </div>
    <div class="contactus__col">
        <div class="contactus__row">
            <h2>Location</h2>
            <p>Akerly Law, LLP</p>
            <p>878 S. Denton Tap Road, Suite 100</p>
            <p>Coppell, Texas 75019</p>
        </div>
        <div class="contactus__row focuspoint map__container" data-focus-x="0" data-focus-y="0"> 
           <img src="https://open.mapquestapi.com/staticmap/v5/map?key=9Uzu6M2QJHGEtqq5QtL9nYfwH8Hn0WFJ&locations=32.948,-96.992&zoom=9&size=200,200@2x" />
        </div>
    </div>
</section>

<style>
    #contact{
        padding:0;
    }
    
    .contact__form{
        padding: 0;
    }
    .contactus__form{
        padding:3rem .5rem;
    }
</style>