﻿@model AkerlyLaw.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "Texas Law Firm";
}

<section id="splash">
    <div class="splash focuspoint" data-focus-x="0" data-focus-y=".25">
        <img src="~/img/updated/_MG_0058.jpg" />
        <div class=" splash__box">
            <div class="splash__box__border">
                <div class="splash__slider">
                    @foreach (var s in Model.Splash.ATF)
                    {
                        <div class="splash__slide">
                            <h1>@s.Title</h1>
                            @Html.Raw(s.Text)
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="splash__arrow animated bounce">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
</section>
<section id="law__info">
    <h2 class="section__title">Our Firm</h2>
    <div class="container law__container">
        @foreach (var l in Model.Firm.Law)
        {
            <div class="law__block">
                <div class="law__block__inner">
                    <div class="law__block__front">
                        <div class="law__block__front__container">
                            <i class="@l.Icon"></i>
                            <h2>
                                @l.Title
                            </h2>
                        </div>
                    </div>
                    <div class="law__block__back">
                        <h2> @l.Title</h2>
                        <p> @l.ShortDesc</p>
                        <a class="law__block__button" asp-controller="Law" asp-action="Details" asp-route-id="@l.Slug">Learn More</a>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
<section id="team">
    <h2 class="section__title white__text">The Team</h2>
    <div class="container team__container">
        @foreach (var m in Model.Team.Team)
        {
            <a class="team__block" asp-controller="Team" asp-action="Member" asp-route-id="@m.Slug">
                <div class="team__card">
                    <div class="team__block__pic focuspoint" @m.FocuspointData>
                        <img src="~/img/zip/@m.Image" />
                    </div>
                    <div class="team__block__desc">
                        <h2>@m.Name</h2>
                    </div>
                </div>
                <div class="team__overlay">
                    <h3 class="team__overlay__title">@m.Name</h3>
                    <p class="team__overlay__description"></p> 
                    <p class="team__overlay__specialty">@m.Role</p>
                </div>

            </a>
        }
    </div>
</section>

<section id="news" class="container">
    <h2 class="section__title">News &amp; Resources</h2>

    <div class="news__slider">
        @foreach (var n in Model.News)
        {
            <a asp-controller="News" asp-action="Article" asp-route-id="@n.Slug" class="article__block home__page" data-type="@n.TypeTag">
                <div class="article__box">
                    <h2 class="article__title">@n.Title</h2>
                    <div class="article__short__desc">
                        <p>@n.PreviewText...</p>
                    </div>
                    <div class="article__info">
                        @if (n.Author != "")
                        {
                            <h3>@n.Author</h3>
                        }
                        else
                        { <h3>@n.TypeTitle</h3>}
                        <span>@n.Date.ToString("MMM dd yyyy")</span>
                    </div>
                </div>
            </a>
        }
    </div>
</section>

<section id="contactus">

</section>




<script>
    window.onload = function() {
        myFunction();
    };

    function myFunction() {
        $.ajax({
          url: "/Form/GetPartial/Home",
          dataType: 'html',
          success: function(html) {
              $("#contactus").append(html);
          }
        });
    }

</script>