﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<section id="privacy">
    <h1 class="page__title">@ViewData["Title"]</h1>
    <div class="container">
        <p>The following is the privacy statement of Akerly Law PLLC.  This privacy statement explains how we collect and use personal information.  Akerly Law is committed to ensuring that your privacy is protected.  Should we ask you to provide certain information by which you can be identified when using this website or our services, then you can be assured that it will only be used in accordance with this privacy statement.</p>
        <p>Akerly Law may change this statement from time to time by updating this page. This statement is effective as of November 1, 2019.</p>
        <h2>How We Collect Your Data</h2>
        <p>We may collect information about you in a number of ways, including:</p>
        <ul>
            <li>In the course of providing legal services to you</li>
            <li>During the course of dealings with you for, or on behalf of, a client</li>
            <li>When you visit, make an enquiry or make an application for employment to us through our website or otherwise</li>
            <li>When you attend a seminar or other event provided by us</li>
            <li>When you request to receive information from us</li>
            <li>When you contact us for these or any other reason, we may monitor and keep a record of that correspondence (in whatever form)</li>
            <li>When we collect publicly available information about you or your business (including through electronic data sources)</li>
            <li>When we collect your personal data from third parties (for example our clients or other law firms)</li>
            <li>When you offer or provide services to us</li>
        </ul>
        <h2>What Data We Collect</h2>
        <p>The types of personal data relating to you that we may "process" depends on how you interact with us.  The key types of personal data that we may process about you are as follows:</p>
        <ul>
            <li>Your name (including name prefix or title), the company you work for, your job title</li>
            <li>Contact information, such as your postal address, email address and phone number(s)</li>
            <li>Financial information, such as payment-related information</li>
            <li>Technical information, such as CCTV images, information from your visits to our website or in relation to materials and communications we send to you electronically</li>
            <li>Details relating to your academic qualifications and employment history</li>
            <li>Information you provide to us for the purposes of attending meetings and events, including access and dietary requirements</li>
            <li>Identification and background information provided by you or collected as part of our business acceptance or recruitment processes</li>
            <li>Personal information provided to us or obtained by us in the course or providing legal advice to our clients</li>
            <li>Where necessary and legally permitted, special category data such as diversity and health data, and details of offences and related proceedings</li>
            <li>Any other information relating to you which you may provide to us</li>
        </ul>
        <h2>How We Use Your Data</h2>
        <p>We will only use your personal data when the law allows us to.  Most commonly we will use your personal data in the following circumstances:</p>
        <ul>
            <li>Where the processing is necessary for the performance of a contract to which you are party</li>
            <li>Where the processing is necessary for compliance with our legal obligations</li>
            <li>Where the processing is necessary for the purposes of pursuing our legitimate interests (this includes carrying out the business of providing legal services and pursuing our general business interests)</li>
            <li>Where the processing is necessary for the establishment, exercise or defense of legal claims</li>
            <li>Where you have provided your consent for us to do so, for example, to provide you with information about our services, and to advise you of news and industry updates, events, reports and other information</li>
        </ul>
        <h2>Sharing and Transferring Your Data</h2>
        <p>We may share your information with third parties who provide services on our behalf.  We may also disclose your personal information to our employees, agents, consultants and sub-contractors who assist us in running our business, including this website, or provide related services, and who are subject to security and confidentiality obligations.</p>
        <h2>Security</h2>
        <p>We are committed to ensuring that your information is secure.  In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online and on our systems.</p>
        <h2>Links to Other Websites</h2>
        <p>Our website may contain links to enable you to visit other websites of interest easily.  However, once you have used these links to leave our site, you should note that we do not have any control over that other website.  Therefore, we cannot be responsible for the protection and privacy of any information which you provide while visiting such websites and such websites are not governed by this privacy statement.  You should exercise caution and look at the privacy statement applicable to the website in question.</p>
        <h2>Your Rights</h2>
        <p>In certain jurisdictions, in accordance with applicable privacy laws, you may be entitled to one or more of the following rights:</p>
        <ul>
            <li>The right to request details of the information we hold about you and how we process it</li>
            <li>The right to have that information rectified or deleted</li>
            <li>The right to restrict our processing of that information</li>
            <li>The right to have personal information relating to you transferred to another organization</li>
            <li>The right to object to the processing of your personal information and to withdraw any consent in relation to your data (although any objection or withdrawal of consent could mean we are unable to perform the actions necessary to provide our services to you or otherwise fulfill the purpose for which we have requested the information)</li>
            <li>The right to lodge a complaint about us with a local supervisory authority</li>
        </ul>
        <p>Please note that even if you have chosen to withdraw your consent and have the right under applicable law to do so, we may be able to continue thereafter to process your personal information to the extent required or otherwise permitted by law, in particular in connection with exercising and defending our legal rights or meeting our legal and regulatory obligations.</p>
        <p>To exercise your right in relation to the data we hold on you, please use the contact details in “Contact Us” below.”</p>
        <h2>Retention</h2>
        <p>We retain your personal data only for as long as is appropriate for our relationship with you, in accordance with our retention policies, and in accordance with applicable laws in the jurisdictions in which we operate. vWe will, in particular, retain your personal data where required for us to assert or defend against legal claims until the end of the relevant retention period or until the claims in question have been settled.</p>
        <h2>Contact Us</h2>
        <p>Our contact details are as follows:</p>
        <p>
            Akerly Law, LLP<br />
            878 S. Denton Tap Road, Suite 100<br />
            Coppell, Texas 75019<br />
            <a href="tel:(469) 444-1878">(469) 444-1878</a> Telephone<br />
            Appointed Person: Shelly L. Akerly, Office Manager<br />
            Email: <a href="mailto:sakerly@akerlylaw.com">sakerly@akerlylaw.com</a>
        </p>

    </div>
</section>
<style>
    #privacy .container{
       padding:0 .5rem;
       font-size:1.125rem;
    }
    #privacy h2{
        display:block;
        margin: 1rem 0;
        font-size:1.5rem;
        color:#e54a35;
    }
    #privacy p{
        display:block;
        margin: 0 0 1rem;
        line-height:1.125;
    }
    #privacy a{
        color:#e54a35;
        text-decoration:underline;
    }

    #privacy ul{
        display:block;
        margin: 0rem 0 1rem 1rem;
        line-height:1.125;
        list-style:disc;
    }
</style>