﻿@model AkerlyLaw.Models.ContactFormModel;
@inject Microsoft.Extensions.Configuration.IConfiguration _config;
<script src='https://www.google.com/recaptcha/api.js'></script>
<section id="contact">
    <div class="container contact__container contact__form">
        <h2 class="form__title">We want to hear from you.</h2>
        <p class="form__disclaimer">Please feel free to fill out the form below and we will ensure it is directed to the right person.   Please note that completing a form or sending an email does not establish an attorney-client relationship.</p>
        <form class="fancy__form color__white" asp-controller="Form" asp-action="Contact">
            <input asp-for="Page" hidden id="contact__page__details" />
            <div class="form__row">
                <input asp-for="Name" required />
                <label asp-for="Name"></label>
                <div class="after"></div>
            </div>
            <div class="form__group">
                <div class="form__row">
                    <input asp-for="Email" required />
                    <label asp-for="Email"></label>
                    <div class="after"></div>
                </div>


                <div class="form__row">
                    <input asp-for="Phone" required />
                    <label asp-for="Phone"></label>
                    <div class="after"></div>
                </div>
            </div>
            <div class="form__group">
                <div class="form__row">
                    <input asp-for="Company" required />
                    <label asp-for="Company"></label>
                    <div class="after"></div>
                </div>

                <div class="form__row">
                    <input asp-for="Address" required />
                    <label asp-for="Address"></label>
                    <div class="after"></div>
                </div>
            </div>
            <div class="form__group">
                <div class="form__row">
                    <input asp-for="City" required />
                    <label asp-for="City"></label>
                    <div class="after"></div>
                </div>

                <div class="form__row">
                    <input asp-for="State" required />
                    <label asp-for="State"></label>
                    <div class="after"></div>
                </div>
            </div>


            <div class="form__group">
                <div class="form__row">
                    <input asp-for="Zip" required />
                    <label asp-for="Zip"></label>
                    <div class="after"></div>
                </div>

                <div class="form__row">
                    <input asp-for="Country" required />
                    <label asp-for="Country"></label>
                    <div class="after"></div>
                </div>
            </div>



            <div class="form__row">
                <textarea asp-for="Description" required></textarea>
                <label asp-for="Description"></label>
                <div class="after"></div>
            </div>
            <div class="form__row">
                <div class="g-recaptcha" data-sitekey="@_config["GoogleReCaptcha:key"]"></div>
            </div>
            <div class="footer__form__row last">
                <button>Submit</button>
            </div>
        </form>
    </div>
</section>
<script type="text/javascript">
    function initReCaptcha() {
        console.log("firing")
        var $recaptcha = document.querySelector('#g-recaptcha-response');
        if ($recaptcha) {
            $recaptcha.setAttribute("required", "required");
        };
    }

    initReCaptcha();
</script>
<style>
    .form__group{
        display:flex;
        flex-direction:column;
        width:100%;
        justify-content:space-between;
    }

    .form__group .form__row{
        width:100%
    }

    .form__title{
        display:block;
        width:100%;
        text-align:center;
        padding:0;
        color:#e54a35;
        font-size:2.25rem;
        margin: 0 0 .75rem;
    }
    .form__disclaimer{
        display:block;
        font-size:1.125rem;
        letter-spacing:1px;
        line-height:1.2;
        color:#fff;
        margin: 0 auto 2rem;
        width:100%;
        max-width:600px;
        text-align:justify;
    }

    @@media (min-width:768px) {
        .form__group{
            flex-direction:row;
        }

        .form__group .form__row{
            width:48%;
        }
    }



    #g-recaptcha-response {
        display: block !important;
        position: absolute;
        margin: -78px 0 0 0 !important;
        width: 302px !important;
        height: 76px !important;
        z-index: -999999;
        opacity: 0;
    }
    @@media (max-width:360px){
        .g-recaptcha {
            transform: scale(.6);
        }
    }
    
</style>