﻿@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <div class="cookie__container">
            <div class="cookie__decline">
                <i class="fas fa-times"></i>
            </div>
            <div class="text">This website uses cookies to ensure you get the best experience on our website. <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>.</div>
            <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">Accept</span>
            </button>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                $("#cookieConsent").addClass("close")
            }, false);
            var closeButton = document.querySelector("#cookieConsent .cookie__decline i");
            closeButton.addEventListener("click", function (event) {
                $("#cookieConsent").addClass("close")
            }, false);
        })();
    </script>
    <style>
        
        #cookieConsent{
            position:fixed;
            display:block;
            bottom:0;
            z-index:100;
            background:#fff;
            width:100%;
            padding:1rem;
            border-radius:3px;
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        }
        #cookieConsent.close{
            display:none;
        }
        #cookieConsent .cookie__decline{
            width:100%;
            text-align:right;
            margin:0 0 .5rem;
        }
            #cookieConsent .cookie__decline i{
                cursor:pointer;
            }
        #cookieConsent .cookie__container{
            width:100%;
            max-width:850px;
            padding:0 .5rem;
            margin: 0 auto;
        }
        #cookieConsent .text{
            display:block;
            margin:0 0 1rem;
            text-align:center;
        }
         #cookieConsent a{
            color:rgba(229, 74, 53, 1);
            text-decoration:underline;
        }
        #cookieConsent button {
            cursor:pointer;
            font-family: inherit;
            position: relative;
            font-size: 1rem;
            width: 100%;
            padding: .5rem 2rem;
            line-height: 1.5;
            color: rgba(0, 0, 0, 1.0);
            background: white;
            border: none;
            border-radius: 30px;
            background: linear-gradient(to right, rgba(229, 74, 53, 0.8) 50%, transparent 50%);
            background-color: rgba(255, 255, 255, 1.0);
            background-size: 200% 100%;
            background-position: 100% 0;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            border: 1px solid rgba(229, 74, 53, 0.8)
        }

        #cookieConsent button:active,
        #cookieConsent button:focus,
        #cookieConsent button:hover {
            outline: none;
            background-position: 0 0;
            color: white;

        }

        @@media (min-width:500px){
            #cookieConsent{
            position:fixed;
            display:block;
            bottom:1rem;
            right:1rem;
            z-index:100;
            background:#fff;
            width:100%;
            max-width:400px;
            padding:1rem;
            border-radius:3px;
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        }
        }
    </style>
}
