﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Akerly Law</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="Akerly Law, Texas Law Firm, North Dallas Law, Coppel Law, Super Lawyer, Construction Law,  Bankruptcy Law, Dallas Law, Fort Worth Law, DFW Law Firm, Bankruptcy Law, Agricultural and Food Safety Claim, Preferential or Fraudulent Transfers, Shareholder and Partnership Disputes, Business Workouts and Restructures, Creditors Rights, Business Litigation" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="@ViewData["Title"] | Akerly Law" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="//www.akerlylaw.com/img/logo.png" />
    <meta property="og:url" content="https://www.akerlylaw.com">

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "LegalService",
        "@@id": "https://www.akerlylaw.com",
        "name": "Akerly Law",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "878 S Denton Tap Rd Suite 100",
        "addressLocality": "Coppell",
        "addressRegion": "TX",
        "postalCode": "75019",
        "addressCountry": "US"
        },
        "url": "https://www.akerlylaw.com/",
        "telephone": "4694441878",
        "openingHoursSpecification": [
        {
        "@@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
        ],
        "opens": "9:00",
        "closes": "17:00"
        }
        ],
        "image": "//www.akerlylaw.com/img/logo.png",
        "priceRange": "$$"
        }
    </script>
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "WebSite",
        "name": "Akerly Law",
        "url": "https://www.akerlylaw.com/ ",
        "image": "//www.akerlylaw.com/img/logo.png"
        }
    </script>

    <!--<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@nytimes">
    <meta name="twitter:creator" content="@@SarahMaslinNir">
    <meta name="twitter:title" content="Parade of Fans for Houston’s Funeral">
    <meta name="twitter:description" content="NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.">
    <meta name="twitter:image" content="~/img/">-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145842489-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145842489-1');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/focuspoint/css/focuspoint.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/animate/animate.css" />
        <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/focuspoint/css/focuspoint.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="~/lib/animate/animate.min.css" />
        <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <header>
        <div class="nav__button color_primary">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </div>
        <nav itemscope itemtype="https://schema.org/SiteNavigationElement">
            <a class="nav__logo" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" />
            </a>
            <div class="nav__list">
                <a class="nav__item" asp-controller="Home" asp-action="Index" itemprop="url"><span itemprop="name">Home</span></a>
                <div class="nav__dropdown__container nav__item" >
                    <span class="dropdown__title">Our Firm <i class="fas fa-chevron-down"></i></span>
                    <div class="nav__dropdown">
                        <a class="nav__item" asp-controller="Law" asp-action="Index" itemprop="url"><span itemprop="name">About Us</span></a>
                        <a class="nav__item" asp-controller="Law" asp-action="Details" asp-route-id="Business-Law" itemprop="url"><span itemprop="name">Business Law</span></a>
                        <a class="nav__item" asp-controller="Law" asp-action="Details" asp-route-id="Business-Litigation" itemprop="url"><span itemprop="name">Business Litigation</span></a>
                        <a class="nav__item" asp-controller="Law" asp-action="Details" asp-route-id="Bankruptcy-And-Restructuring" itemprop="url"><span itemprop="name">Bankruptcy and Restructuring</span></a>
                        <a class="nav__item" asp-controller="Law" asp-action="Details" asp-route-id="Agricultural-Law" itemprop="url"><span itemprop="name">Agricultural Law</span></a>
                        <a class="nav__item" asp-controller="Law" asp-action="Details" asp-route-id="Appeals" itemprop="url"><span itemprop="name">Appeals</span></a>
                        <a class="nav__item" asp-controller="Law" asp-action="Details" asp-route-id="Collection-Law" itemprop="url"><span itemprop="name">Collection Law</span></a>
                        <a class="nav__item" asp-controller="Law" asp-action="Details" asp-route-id="Construction-Law" itemprop="url"><span itemprop="name">Construction Law</span></a>
                    </div>
                </div>
                <a class="nav__item" asp-controller="Team" asp-action="Index" itemprop="url"><span itemprop="name">Our Team</span></a>
                <a class="nav__item" asp-controller="News" asp-action="Index" itemprop="url"><span itemprop="name">News &amp; Resources</span></a>
                <a class="nav__item" asp-controller="Home" asp-action="Contact" itemprop="url"><span itemprop="name">Contact Us</span></a>
            </div>
        </nav>

    </header>
    <div class="nav__padding"></div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__col footer__left">
                <div calss="footer__copy">&copy; @DateTime.Now.Year | Akerly Law | <a style="display:inline-block" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
            </div>
            <div class="footer__col footer__right">
                <div class="footer__phone">
                    <a href="tel:469-444-1878"><i class="fas fa-phone"></i> (469) 444-1878</a><br /><br />
                    <p><i class="fas fa-fax"></i> (469) 444-1801</p>
                </div>
                <div class="social__links">
                    <a href="https://www.linkedin.com/company/akerly-law-pllc" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="footer__map">
                    <a class="address" href="https://www.google.com/maps/place/Akerly+Law,+PLLC/@@32.9490087,-96.9949199,17z/data=!3m1!4b1!4m5!3m4!1s0x864c29c969c255f3:0x48041ccecc7ec3ec!8m2!3d32.9490042!4d-96.9927312">
                        878 S. Denton Tap Rd.<br />
                        Suite 100<br />
                        Coppell, TX 75019<br />
                    </a>
                </div>
            </div>

        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/focuspoint/js/focuspoint.js"></script>
        <script src="~/lib/slick-1.8.1/slick/slick.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="~/lib/focuspoint/js/focuspoint.min.js"
                asp-fallback-src="~/lib/focuspoint/js/focuspoint.js">
        </script>
        <script src="~/lib/slick-1.8.1/slick/slick.min.js"
                asp-fallback-src="~/lib/slick-1.8.1/slick/slick.js">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
