﻿@model AkerlyLaw.Models.NewsArticleModel
@{
    ViewData["Title"] = "Article - " + Model.Title;
}
<section class="container relative article">
    <a class="page__back___button" asp-controller="News" asp-action="Index">
        <i class="fas fa-chevron-left"></i>
    </a>
    <h1 class="page__title">@Model.Title</h1>
    <div class="article__details">
        @if(Model.Author != ""){<h6 class="author">@Model.Author</h6>}<span class="publish__date">@Model.Date.ToString("MMM dd yyyy")</span>
    </div>
    <div class="article__content">
        @Html.Raw(Model.Content)
    </div>
</section>

<style>
    .article  .page__title{
        margin:3rem 0 .75rem;
    }
    .article__details{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        width:100%;
        max-width:500px;
        margin: 0 auto 1.5rem;
        padding:0 1rem;
        text-align:center;
    }
        .article__details .author{
            display:block;
            margin:0 0 1rem;
        }
        .article__details .author:before{
            content:'By: ';
            color:#e54a35;
            display:inline-block;
            padding:0 .75rem 0 0;
        }
        .article__details .publish__date{
            display:block;
        }
        .article__details .publish__date:before{
            content:'Published: ';
            color:#e54a35;
            display:inline-block;
            padding:0 .75rem 0 0;
        }
    .article__content{
        display:block;
        padding:0 .5rem;
    }
        .article__content h1, .article__content h2, .article__content h3, .article__content h4, .article__content h5, .article__content h6{
            display:block;
            text-align:left;
            font-size:1.5rem;
            color:#1D176D;
            font-weight:600;
            margin:1rem 0 1rem;
        }
        .article__content p{
            display:block;
            margin:0 0 1rem;
            font-size:1.1rem;
        }
        .article__content ul, .article__content ol{
           margin: 0 0 .75rem;
           font-size: inherit;
           margin-left: 15px; 
        }
            .article__content li{
                display:block;
                margin:0 0 1rem;
            }
            ul li::before {
              content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
              color: #e54a35; /* Change the color */
              font-weight: bold; /* If you want it to be bold */
              display: inline-block; /* Needed to add space between the bullet and the text */
              width: 1em; /* Also needed for space (tweak if needed) */
              margin-left: -1em; /* Also needed for space (tweak if needed) */
            }

            ol { counter-reset: item; }
            ol li:before {
                content: counter(item) ". ";
                counter-increment: item;
                color: #e54a35;
            }
        .article__content a {
            color:#1D176D;
            text-decoration:underline;
        }

    @@media screen and (min-width:765px){
        .article__details{
            flex-direction:row;
        }
        .article  .page__title{
            margin:3rem 0 .75rem 4rem;
        }
    }
</style>