﻿@model AkerlyLaw.Models.NewsHomeViewModel
@{
    ViewData["Title"] = "News & Resources";
}

<h1 class="page__title">News &amp; Resources</h1>
<section class="filters__section">
    <form class="filters">
        <label class="filter__row">
            All
            <input type="checkbox" class="toggleAll" checked />
            <span class="checkmark"></span>
        </label>
        <label class="filter__row">
            E-Newsletter
            <input type="checkbox" class="toggleItem" value="e-newsletter" checked />
            <span class="checkmark"></span>
        </label>
        <label class="filter__row">
            Seminars and Publications
            <input type="checkbox" class="toggleItem" value="seminars-and-publications" checked />
            <span class="checkmark"></span>
        </label>
        <label class="filter__row">
            Reported Decisions
            <input type="checkbox" class="toggleItem" value="reported-decisions" checked />
            <span class="checkmark"></span>
        </label>
        <label class="filter__row">
            In the News
            <input type="checkbox" class="toggleItem" value="in-the-news" checked />
            <span class="checkmark"></span>
        </label>
        <!--<label class="filter__row">
        Pod-Casts
        <input type="checkbox" class="toggleItem" value="Pod-Casts" checked />
        <span class="checkmark"></span>
    </label>-->
    </form>
</section>
<section class="container nrcontainer">
    @foreach (var n in Model.News)
    {
        <a asp-controller="News" asp-action="Article" asp-route-id="@n.Slug" class="article__block" data-type="@n.TypeTag">
            <div class="article__box">
                <h2 class="article__title">@n.Title</h2>
                <div class="article__short__desc">
                    <p>@n.PreviewText...</p>
                </div>
                <div class="article__info">
                    @if (n.Author != "")
                    {
                        <h3>@n.Author</h3>
                    }
                    else { <h3>@n.TypeTitle</h3> }
                    <span>@n.Date.ToString("MMM dd yyyy")</span>
                </div>
            </div>
        </a>
    }
</section>

<style>
    .filters__section{
        display:block;
        width:100%;
        max-width:1300px;
        margin:0rem auto 1rem;
        padding:1rem;
    }
    .filters{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        text-align:center;
        flex-wrap:wrap;
    }
    .filters .filter__row{
        display: flex;
        position: relative;
        padding: 0 10px 10px 30px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none; 
        -ms-user-select: none;
        user-select: none;
        color:#000
    }
    .filter__row .checkmark{
        position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
    .filter__row input{
        position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
    }
    .filter__row:hover input ~ .checkmark {
      background-color: #ccc;
    }
    .filter__row input:checked ~ .checkmark {
        background-color: #1D176D;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .filter__row input:checked ~ .checkmark:after {
      display: block;
    }
    .filter__row .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

</style>