﻿@model AkerlyLaw.Models.LawDetailsViewModel;

@{
    ViewData["Title"] = @Model.Law.Title + " | Details";
}



<section class="container relative law__overview">
    <a class="page__back___button" asp-controller="Law" asp-action="Index">
        <i class="fas fa-chevron-left"></i>
    </a>
    <h1 class="page__title">
        @Model.Law.Title
    </h1>
    <div class="details__container">
        @Html.Raw(Model.Law.Desc)
    </div>


</section>
<section id="law__details__form">
    <div class="member__contact__form" data-info="Law-Details-@Model.Law.Slug">Request More Information</div>
</section>
<section id="law__nav" class="container">
    @if (Model.BeforeSlug != null)
    {
        <a class="law__nav__item law__nav__next" asp-controller="Law" asp-action="Details" asp-route-id="@Model.BeforeSlug.Slug">
            <div class="law__nav__circle">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="law__nav__title">
                <p>@Model.BeforeSlug.Title</p>
            </div>
        </a>
    }
    else
    {
        <div></div>
    }
    @if (Model.AfterSlug != null)
    {
        <a class="law__nav__item law__nav__prev" asp-controller="Law" asp-action="Details" asp-route-id="@Model.AfterSlug.Slug">
            <div class="law__nav__circle">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="law__nav__title">
                <p>@Model.AfterSlug.Title</p>
            </div>
        </a>
    }
    else
    {
        <div></div>
    }

</section>
<!--
@if (Model.List.LawList.Count() > 0)
{
    <section class="sublaw__container ">
        <h2 class="subtype__header"> @Model.Law.Title Subcategories</h2>

        <div class="law__details__children">
            @foreach (var c in Model.List.LawList)
            {
                <div class="law__child__block">
                    <div class="law__child__padding">
                        <div class="law__child__title">
                            @c.Title
                        </div>
                        <div class="law__child__desc">
                            @Html.Raw(c.Description)
                        </div>
                    </div>
                </div>
            }
        </div>

    </section>
}
-->
<style>
    .details__container {
        display: block;
        width: 100%;
        max-width: 800px;
        margin: 1rem auto;
        line-height: 1.25;
        font-size: 1.125rem;
    }

    #law__nav{
        display:flex;
        justify-content: space-between;
        padding:3rem .5rem;
    }
    .law__nav__item {
        display:flex;
        justify-content:flex-start;
        align-items:center;
    }
    .law__nav__item.law__nav__prev{
        flex-direction:row-reverse;
    }

    .law__nav__circle{
        padding:.25rem 1rem;
        border:1px solid #1D176D;
        color:#fff;
        background:#1D176D;
        border-radius:3px;
        transition: background .3s ease-in-out;
        transition: color .3s ease-in-out;
    }
        .law__nav__circle i{
            font-size:1.5rem;
        }
        .law__nav__item:hover .law__nav__circle{
            background:#fff;
            color:#e54a35;
        }
    .law__nav__title{
        font-size:1.5rem;
        padding:0 1rem;
        color:#1D176D;
    }

</style>




<div class="model__container">
    <div class="close"></div>
    <div class="model"></div>
</div>
