﻿@model AkerlyLaw.Models.FirmModel

@{
    ViewData["Title"] = "Our Firm";
}

<h1 class="page__title">Our Firm</h1>

<section class="container op__about">
    <p>Akerly Law exists to assist its clients by developing an effective and efficient approach to meet their personal and economic needs.</p>
    <p>Akerly Law PLLC was formed in 2018. Its founding partner, Bruce W. Akerly, was a partner in several major law firms in the Dallas -Fort Worth area for over 30 years. He was determined to establish a law firm that offered his current and future clients with the same level of attention and skill expected from big law firms but at a greatly reduced cost. Hence the moniker: Big Law Experience; Small Firm Price.&trade;</p>
    <p>Akerly Law represents individual and small to mid-level business clients in matters involving formation and operation, banking, financial workouts and restructuring, judicial and statutory foreclosures, receiverships, secured and unsecured creditor rights and remedies in state, federal and bankruptcy courts throughout the country.</p>
    <p>We represent businesses and individuals, financial servicing companies, credit unions, banks and private equity lenders.</p>
    <p>We also do a fair amount of agricultural law, including representing clients in actions involving the wholesale distribution of fresh fruits and vegetables, as well as equipment financing and legal issues involving livestock.</p>
    <p>Akerly Law, located in the middle of the DFW metroplex, is well-situated to promptly address client needs within the framework of a variety of disciplines, including banking, corporate, environmental, finance, real estate, employment, tax and litigation. The firm has handled countless simple and complex matters in state, federal and administrative courts, trial and appellate, throughout the country.</p>
</section>
<section class="op__law">
    @foreach (var l in Model.Law)
    {
        <div class="op__law__block">
            <div class="op__law__icon">
                <i class="@l.Icon"></i>
            </div>
            <div class="op__law__title">
                @l.Title
            </div>
            <p class="op__law__contents">
                @l.ShortDesc
            </p>
            <div class="op__law__contact__container">
                <a class="op__law__button" asp-controller="Law" asp-action="Details" asp-route-id="@l.Slug">Learn More</a>
            </div>
        </div>
    }

    <!--<div class="op__law__block">
        <div class="op__law__icon">
            <i class="fas fa-book"></i>
        </div>
        <div class="op__law__title">
            Bankruptcy  Law
        </div>
        <ul class="op__law__contents">
            <li>Federal</li>
            <li>State</li>
        </ul>
        <div class="op__law__contact__container">
            <a class="op__law__button" asp-controller="Law" asp-action="Details" asp-route-id="Bankruptcy">Learn More</a>
        </div>
    </div>-->

</section>