﻿/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Tinos', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 85%;
}

@media screen and (min-width:768px) {
    html {
        font-size: 92%;
    }
}

@media screen and (min-width:1200px) {
    html {
        font-size: 100%;
    }
}


input, textarea {
    color: inherit;
}

/***************************** General *****************************/
.bg_primary {
    background-color: #1D176D;
}

.color_primary {
    color: #1D176D;
}

.bg_secondary {
    background: #fff;
}

.color_secondary {
}

.bg_tertiary {
}

.color_tertiary {
}

/* this is just a tester*/
.textured {
    background-repeat: no-repeat;
    background-image: url(https://www.spherexx.com/assets/bg-text-desktop.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-weight: 800;
}
/* this is just a tester*/

.container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*****form styles******/
#contact {
    background: #1D176D;
    padding: 3rem .5rem;
}

.contact__container {
    width: 100%;
    border-radius: 25px;
    background: #1D176D;
}

.fancy__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
}

.form__row {
    display: block;
    position: relative;
    padding: 0 0 20px;
}

    .form__row.last {
        display: block;
        padding: 0;
    }

.enter {
    margin: 20px 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

label {
    position: absolute;
    top: 0px;
    left: 0;
    letter-spacing: 2px;
    font-size: 1rem;
    color: RGBA(255, 255, 255, 0.8);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input:focus ~ label, textarea:focus ~ label {
    color: RGBA(229, 74, 53, 0.8);
}

input:focus ~ label, input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label {
    top: 12px;
    letter-spacing: 0px;
    -webkit-transform: translate(0, -30px) scale(0.7, 0.7);
    -ms-transform: translate(0, -30px) scale(0.7, 0.7);
    transform: translate(0, -30px) scale(0.7, 0.7);
}

textarea, input {
    font-size: 1rem !important;
    width: 100%;
    border: none;
    margin-top: 0;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
}

    textarea:focus, input:focus {
        outline: none;
    }

.after {
    width: 100%;
    height: 2px;
    background: -o-linear-gradient(left, RGBA(229, 74, 53, 1.00) 50%, transparent 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, RGBA(229, 74, 53, 1.00)), color-stop(50%, transparent));
    background: linear-gradient(to right, RGBA(229, 74, 53, 1.00) 50%, transparent 50%);
    background-color: RGBA(0, 0, 0, 0.8);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

textarea:focus ~ .after, input:focus ~ .after {
    background-position: 0 0;
}

textarea {
    resize: none;
    height: 60px;
}

button {
    font-family: inherit;
    position: relative;
    font-size: 1rem;
    width: 100%;
    padding: .5rem 2rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
    background: white;
    border: none;
    border-radius: 30px;
    background: -o-linear-gradient(left, white 50%, transparent 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, transparent));
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-color: RGBA(0, 0, 0, 0.8);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


    button:active,
    button:focus,
    button:hover {
        outline: none;
        background-position: 0 0;
        color: black;
    }


/** Contact form styles **/
.contact__form {
    padding: 3rem;
    text-align: center;
}

    .contact__form form {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .contact__form input, .contact__form textarea {
        color: #fff;
    }


    .contact__form button {
        font-family: inherit;
        position: relative;
        font-size: 1rem;
        width: 100%;
        padding: .5rem 2rem;
        line-height: 1.5;
        color: rgba(0, 0, 0, 1.0);
        background: white;
        border: none;
        border-radius: 30px;
        background: -o-linear-gradient(left, rgba(229, 74, 53, 0.8) 50%, transparent 50%);
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(229, 74, 53, 0.8)), color-stop(50%, transparent));
        background: linear-gradient(to right, rgba(229, 74, 53, 0.8) 50%, transparent 50%);
        background-color: rgba(255, 255, 255, 1.0);
        background-size: 200% 100%;
        background-position: 100% 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .contact__form button:active,
        .contact__form button:focus,
        .contact__form button:hover {
            outline: none;
            background-position: 0 0;
            color: white;
        }


    .contact__form .after {
        width: 100%;
        height: 2px;
        background: -o-linear-gradient(left, RGBA(229, 74, 53, 0.8) 50%, transparent 50%);
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, RGBA(229, 74, 53, 0.8)), color-stop(50%, transparent));
        background: linear-gradient(to right, RGBA(229, 74, 53, 0.8) 50%, transparent 50%);
        background-color: RGBA(254, 253, 255, 1.0);
        background-size: 200% 100%;
        background-position: 100% 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

@media screen and (min-width:1000px) {

    #contact {
        background: transparent;
    }

    .contact__container {
        max-width: 800px;
        webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.75);
    }
}

/***************************** Nav *****************************/
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

.nav__padding {
    display: block;
    width: 100%;
}

.is__sticky {
}

.nav__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.open .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__dropdown {
    display: block;
    max-height: 0;
    width: 100%;
    -webkit-transition: max-height .75s cubic-bezier(0, 1, 0, 1);
    -o-transition: max-height .75s cubic-bezier(0, 1, 0, 1);
    transition: max-height .75s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
}

.dropopen .nav__dropdown {
    max-height: 1000px;
    -webkit-transition: max-height .3s ease-in-out;
    -o-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;
}

.nav__dropdown .nav__item {
    display: block;
    width: 100%;
    padding: 1rem 0 !important;
}


.nav__item {
    width: 100%;
    text-align: center;
    position: relative;
    -webkit-transition: padding .2s;
    -o-transition: padding .2s;
    transition: padding .2s;
    background: #fff;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 1.35rem;
    color: #1D176D;
}

    .nav__item:hover {
        color: RGBA(229, 74, 53, 1.00);
    }

    .nav__item:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #1D176D;
    }

.nav__logo {
    display: block;
    width: 225px;
    -webkit-transition: padding .2s;
    -o-transition: padding .2s;
    transition: padding .2s;
    height: 50px;
    position: relative;
    margin: 0 auto;
}

    .nav__logo img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
    }

.nav__button {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    z-index: 1;
    font-size: 32px;
    height: 50px;
    width: 50px;
}

    .nav__button i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

        .nav__button i.fa-times {
            display: none;
        }

.open .nav__button i.fa-times {
    display: block;
}

.nav__button i.fa-bars {
    display: block;
}

.open .nav__button i.fa-bars {
    display: none;
}

.dropdown__title i {
    padding: 0 0 0 1rem;
}


@media screen and (max-width: 1000px) {
    .nav__dropdown__container.nav__item {
        padding: 0 !important;
    }

    .nav__dropdown__container .dropdown__title {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}

@media screen and (min-width:1000px) {
    .nav__button {
        display: none;
    }

    .nav__list {
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }


    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        height: auto;
    }

    .nav__dropdown__container .dropdown__title {
        display: block;
    }

    .nav__dropdown {
        position: absolute;
        xmax-height: 0;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .nav__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        width: calc(50% - 160px);
    }


    .nav__item {
        font-size: 1.125rem;
    }

        .nav__item:after {
            height: 3px;
            background-color: transparent;
        }

        .nav__item:hover:after, .nav__item:active:after {
            background-color: #1D176D;
        }

    .nav__logo {
        width: 20%;
        max-width: 320px;
        padding: 40px 0;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        margin: 0 0 0 1rem;
    }

    .is__sticky .nav__logo {
        padding: 10px 0;
    }
}

@media screen and (min-width:1300px) {
    .nav__list {
        width: calc( 90% - 320px );
    }

    .nav__item {
        font-size: 1.35rem;
    }
}
/***************************** main *****************************/
main {
    display: block;
    min-height: calc(100vh - 240px);
}

/***************************** footer *****************************/

footer {
    display: block;
    background: #e54a35;
    color: #fff
}

.footer__container {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 1rem .5rem;
}

footer .footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin: 1rem .5rem;
}

.footer__col.footer__right {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
}

footer a {
    display: inline-block;
}

footer span {
    display: inline-block;
}

.footer__copy, .footer__phone, .footer__map {
    display: block;
    margin: .5rem;
}

footer .phone i {
    display: inline-block;
}

@media screen and (min-width:768px) {
    .footer__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .footer__copy, .footer__phone, .footer__map {
        margin: 0;
    }


    footer .footer__col {
        text-align: left;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    footer .foooter__col.right {
        text-align: right;
    }
}
/***************************** splash *****************************/
.section__title {
    display: block;
    margin: 0 auto 1rem;
    text-align: center;
    font-size: 1.75rem;
    xfont-weight: 600;
    color: #1D176D;
}

    .section__title.white__text {
        color: #fff;
        text-shadow: 3px 3px #000000;
    }
/***************************** splash *****************************/
.splash {
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
}

    .splash:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #1D176D;
        opacity: .25;
        z-index: 1;
    }

.splash__box {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}


.splash__box__border {
    display: block;
    background: rgba(29, 23, 109, .4);
    color: #fff;
    padding: 1rem;
    width: 100%;
}

.splash__slider {
    display: block;
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

    .splash__slider .slick-slide {
        text-align: center;
    }

        .splash__slider .slick-slide::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
        }

        .splash__slider .slick-slide .splash__slide {
            vertical-align: middle;
            display: inline-block;
        }

.splash__slide {
    vertical-align: middle;
}

    .splash__slide h1 {
        font-size: 2.5rem;
        xfont-weight: bold;
        margin: 0 0 1rem 0;
    }

    .splash__slide p {
        font-size: 1.125rem;
        xfont-weight: lighter;
    }

.splash__arrow {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #e54a35;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

    .splash__arrow i {
        display: block;
        font-size: 3rem;
    }

@media screen and (min-width:768px) {
    .splash {
        height: calc(100vh - 80px);
    }
}

/***************************** law_info *****************************/
#law__info {
    padding: 3rem 0;
    text-align: center;
}

.law__container .slick-prev:before, .law__container .slick-next:before {
    color: #e54a35
}

.law__block {
    display: inline-block;
    width: 100%;
    xmax-width: 300px;
    height: 250px;
    margin: 1rem;
    vertical-align: middle;
    position: relative;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.law__block__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: rgba(29, 23, 109, .9);
    color: #fff;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.75);
}

.law__block:hover .law__block__inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.law__block__front, .law__block__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.law__block__front {
    display: block;
    padding: 1rem;
    background-color: #1D176D;
}

.law__block__front__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: .5rem;
    border: 1px solid #fff;
    height: 100%;
    width: 100%;
}

.law__block__front i {
    font-size: 60px;
    display: block;
}

.law__block__front h2 {
    display: block;
    font-size: 1.25rem;
    text-transform: capitalize;
    xfont-weight: bold;
}

.law__block__back {
    background-color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    color: #1D176D;
    border: 1px solid #1D176D;
    padding: 1rem;
}

    .law__block__back h2 {
        display: block;
        font-size: 1.25rem;
        xfont-weight: bold;
    }

    .law__block__back p {
        display: block;
        font-size: 1.125rem;
        xfont-weight: 300;
    }

.law__block__button {
    display: block;
    width: 80%;
    text-align: center;
    background: #e54a35;
    color: #fff;
    padding: 1rem;
    margin: 0 auto;
    border: #fff solid 1px;
    text-transform: uppercase;
    font-size: 1.125rem;
}

/***************************** team *****************************/
#team {
    background-image: url(../img/bookcase-books-bookshelf-1166657.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 4rem 0;
}

.team__container .slick-prev:before, .team__container .slick-next:before {
    color: #e54a35
}

.team__container {
    display: block;
    text-align: center;
}

.team__block {
    display: inline-block;
    background: #fff;
    width: 100%;
    xmax-width: 250px;
    padding: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.75);
    position: relative;
    overflow: hidden;
}

.team__card {
    display: block;
}

.team__overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #e54a35;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.team__block:hover .team__overlay {
    bottom: 0;
    height: 100%;
}

.team__overlay__title {
    font-size: 1.3rem;
    color: #fff;
}

.team__overlay__description {
    color: #fff;
}

.team__overlay__specialty {
    color: #fff;
}

.team__block__pic {
    display: block;
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: .5rem solid #e54a35;
    margin: 0 auto .75rem;
}

.team__block__desc {
    width: 100%;
    font-size: 1.25rem;
    text-transform: capitalize;
}

/*** back page generics***/
.page__title {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0 .5rem;
    margin: 3rem 0;
    font-size: 2.5rem;
    color: #e54a35;
    xfont-weight: bold;
}

.page__back___button {
    display: inline-block;
    margin: 3rem 0 0 1rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    background: #1D176D;
    border: 1px solid #1D176D;
    border-radius: 3px;
    color: #fff;
}

    .page__back___button:hover {
        background: #fff;
        color: RGBA(229, 74, 53, 1.00);
    }

    .page__back___button i {
        color: inherit;
    }

.relative {
    position: relative;
}

.model__container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    right: 0;
}

    .model__container.active {
        display: block;
    }

.model {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    z-index: 2;
}

.model__container .close {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

@media screen and (min-width:768px) {
    .page__back___button {
        position: absolute;
        top: 0;
        left: .5rem;
        margin: 0;
    }
}

/*** team page ***/
.member__container {
    display: block;
    width: 100%;
    padding: 0 .5rem;
    text-align: center;
}

.member__block {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 1rem;
    border: 1px solid #e54a35;
    padding: .75rem;
}

.member__image__container {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto 1rem;
}

.member__info {
    display: block;
    width: 100%;
    text-align: center;
}

    .member__info h2 {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 0 .75rem;
        xfont-weight: bold;
        font-size: 1.25rem;
        color: #e54a35;
    }

    .member__info p {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 0 .25rem;
        font-size: 1rem;
        xfont-weight: 500;
    }

.member__contact__container {
    display: block;
    width: 100%;
}

    .member__contact__container a, .member__contact__form {
        display: block;
        width: 80%;
        background: #1D176D;
        color: #fff;
        border: 1px solid #1D176D;
        padding: .75rem 0;
        text-align: center;
        margin: 0 auto .5rem;
        cursor: pointer;
    }

        .member__contact__container a:hover, .member__contact__form:hover {
            background: #e54a35;
        }

@media screen and (min-width:768px) {
    .member__block {
        margin: 1%;
    }
}

/*** form confirmation ***/
.confirmation__text {
    text-align: center;
}

.center__page {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/****** Law Page *******/

.op__about {
    text-align: center;
    margin: 0 auto 2rem;
    text-align: justify;
}

    .op__about p {
        display: block;
        margin: 0 .5rem 1rem;
        font-size: 1.125rem;
        line-height: 1.25;
    }

.op__law {
    width: 100%;
    display: block;
    padding: 8px;
    text-align: center;
}

.op__law__block {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    vertical-align: middle;
    border: 1px solid #1D176D;
    color: #1D176D;
    padding: 2rem 1rem;
    margin: 1rem;
}

.op__law__icon {
    display: block;
    width: 100%;
    font-size: 75px;
}

    .op__law__icon i {
        color: inherit;
        font-size: inherit;
    }

.op__law__title {
    color: inherit;
    display: block;
    font-size: 1.75rem;
    margin: 0 0 1rem;
}

.op__law__contents {
    color: inherit;
    display: block;
    list-style-type: disc;
    margin: 0 0 1rem 1rem;
}

    .op__law__contents li {
        color: inherit;
        display: block;
        margin: 0 0 .5rem;
    }

.op__law__contact__container {
    color: inherit;
}

.op__law__button {
    color: inherit;
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid #1D176D;
}

    .op__law__button:hover {
        color: #fff;
        background: #1D176D;
    }


@media screen and (min-width:1100px) {
    .op__law {
        padding: 0 200px;
    }
}

/** contact us **/
section.contactus__form {
    display: block;
    background: #1D176D;
}

    section.contactus__form .contact__container {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.contactus__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem
}

.contactus__col {
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
    padding: 1rem .5rem;
}

    .contactus__col:last-child:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 80%;
        height: 1px;
        background: #e54a35;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

.contactus__row {
    display: block;
    padding: 1rem 0;
    position: relative;
}


    .contactus__row:after {
        content: '';
        position: absolute;
        width: 80%;
        height: 1px;
        background: #e54a35;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .contactus__row:last-child:after {
        display: none;
    }

    .contactus__row h2 {
        display: block;
        margin: 0 0 .75rem;
        font-size: 1.25rem;
        xfont-weight: 600;
    }

.map__container {
    height: 275px;
    width: 100%;
    max-width: 275px;
    text-align: center;
    margin: 1rem auto;
}

.contactus__row p {
    margin: 0 0 .5rem;
}

.contactus__icon {
    margin: 0 0 .75rem;
}

    .contactus__icon i {
        vertical-align: middle;
        font-size: 1.125rem;
        color: RGBA(229, 74, 53, 1.00);
        margin: 0
    }

@media screen and (min-width:768px) {
    .contactus__info {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .contactus__col {
        width: 50%;
    }

        .contactus__col:last-child:after {
            top: 50%;
            left: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            width: 1px;
            height: 80%;
        }
}

/************* Law Details ******************/

.law__overview {
    margin: 0 auto 3rem;
    padding: 0 .5rem;
}

    .law__overview h2 {
        display: block;
        font-size: 1.5rem;
        xfont-weight: 600;
        color: #1D176D;
        margin: 2rem 0 1rem;
    }

    .law__overview p {
        display: block;
        font-size: 1rem;
        xfont-weight: 400;
        color: #000;
        margin-bottom: .75rem;
    }

#law__details__form {
    display: block;
    width: 100%;
    background-image: url(../img/bookcase-books-bookshelf-1166657.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 5rem;
}

.sublaw__container {
    display: block;
    margin: 3rem 0 1rem;
}

.subtype__header {
    display: block;
    width: 100%;
    text-align: center;
    color: #1D176D;
    font-size: 1.5rem;
    xfont-weight: 600;
    margin: 0 0 1.5rem;
}

.law__details__children {
    display: block;
    width: 100%;
    text-align: center;
}

.law__child__block {
    display: block;
    width: 100%;
    margin: 2% 0;
    padding: .5rem;
    border: 2px solid #e54a35;
    vertical-align: middle;
}

.law__child__padding {
    display: block;
    border: 2px solid #1D176D;
    padding: 3rem;
    min-height: 25vh;
    background: transparent;
    color: #1D176D;
}

.law__child__title {
    display: block;
    text-align: center;
    margin: 0 0 1rem;
    font-size: 1.75rem;
    xfont-weight: 600;
}

.law__child__desc {
    display: block;
}

    .law__child__desc h2 {
        display: block;
        margin: 0 0 1rem;
        font-size: 1.25rem;
        xfont-weight: 600;
        width: 100%;
        text-align: left;
    }

    .law__child__desc p {
        display: block;
        margin: 0 0 .75rem;
        font-size: 1rem;
        xfont-weight: 400;
        width: 100%;
        text-align: left;
    }

@media screen and (min-width:768px) {
    .law__child__block {
        display: inline-block;
        width: 44%;
        margin: 2%;
    }
}

/*****************************/


.nrcontainer {
    display: block;
    text-align: left;
    max-width: 1500px;
    padding: 0 .5rem;
}

.article__block {
    display: inline-block;
    padding: .5rem;
    background: #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    margin: 1%;
    opacity: 1;
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    -o-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

    .article__block.hidden {
        display: none;
        opacity: 0;
        max-width: 0;
        opacity: 0;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
        -o-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
        transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    }

.article__box {
    display: block;
    border: 1px solid #1D176D;
    padding: .5rem;
}

.article__block .article__title {
    display: block;
    text-align: center;
    font-size: 1.35rem;
    font-weight: bold;
    margin: 0 0 1rem;
    color: #1D176D;
}

.article__short__desc {
    display: block;
    margin: 0 0 .75rem;
}

.article__info {
    display: block;
    width: 100%;
    text-align: left;
}

    .article__info h3 {
        display: inline-block;
    }

    .article__info span {
        display: inline-block;
        xfloat: right;
    }

@media screen and (min-width:500px) {
    .filters__section {
        border: 1px solid #e54a35;
    }

    .filter__row {
        padding: 0 10px 0px 30px !important;
    }
}

@media screen and (min-width:768px) {
    .article__block {
        max-width: 47%;
    }
}

@media screen and (min-width:900px) {
    .article__block {
        width: 31%;
    }
}

.article__block.home__page {
    width: unset;
    display: block;
    max-width: unset;
}

.news__slider {
    width: 80%;
    margin: 0 auto;
}

    .news__slider .slick-list {
        padding: 1rem 0;
    }

    .news__slider .slick-slide {
        text-align: center;
    }

@media screen and (min-width:768px) {
    .news__slider {
        width: 100%;
        margin: 0;
    }

    .article__block.home__page {
        max-width: 325px;
        xmargin: 0 auto;
    }
}

#news {
    margin: 3rem auto;
}

    #news .slick-prev:before, #news .slick-next:before {
        color: #e54a35
    }
