﻿
@{
    ViewData["Title"] = "Confirmation";
}
<div class="container center__page">
    <h1 class="page__title">Form Confirmation</h1>

    <p class="confirmation__text">Thank you for your submition, we will get back to you as soon as we can!</p>
</div>
