﻿@model AkerlyLaw.Models.TeamModel

@{
    ViewData["Title"] = "Our Team";
}
<div class="container">
    <h1 class="page__title">The Team</h1> 
    <div class="member__container">
        @foreach (var m in Model.Team)
        {
            <div class="member__block">
                <div class="member__image__container focuspoint" @m.FocuspointData>
                    <img src="~/img/zip/@m.Image" />
                </div>
                <div class="member__info">
                    <h2>@m.Name</h2>
                </div>
                <div class="member__contact__container">
                    <div class="member__contact__form" data-info="Team-Page-@m.Slug">Contact @m.Nickname</div>
                    <a asp-controller="team" asp-action="member" asp-route-id="@m.Slug">More Info</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="model__container">
    <div class="close"></div>
    <div class="model"></div>
</div>