﻿@model AkerlyLaw.Models.TeamMemberViewModel

@{
    ViewData["Title"] = "Team Member | " + @Model.Member.Name;
}
    <div class="container relative">
        <a class="page__back___button" asp-controller="Team" asp-action="Index">
            <i class="fas fa-chevron-left"></i>
        </a>
        <h1 class="page__title">@Model.Member.Name</h1>
        <div class="team__member__photo__block">
            <div class="photo__block__image focuspoint" @Model.Member.FocuspointData>
                <img src="~/img/zip/@Model.Member.Image" />
            </div>
        </div>
        <div class="team__member__bio">
            @Html.Raw(Model.Member.Bio)
        </div>
        <div class="team__member__blocks">
            @if (Model.Activities.Count() > 0)
            {
                <div class="tm__container">
                    <h3 class="tm__blocks__title">Activities & Affiliations</h3>
                    <div class="tm__block__details">
                        <div class="tm__block_details__info">
                            <ul>
                                @foreach (var aa in Model.Activities)
                                {
                                    @Html.Raw(aa.Data)
                                }
                                </ul>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Education.Count() > 0)
            {
                <div class="tm__container">
                    <h3 class="tm__blocks__title">Education</h3>
                    <div class="tm__block__details">
                        @foreach (var e in Model.Education)
                        {
                            <div class="tm__block_details__info">
                                <div class="tm__block__details__main">
                                    <h4>@e.University</h4>
                                </div>
                                <div class="tm__block__details__second">
                                    @Html.Raw(e.Extra)
                                </div>
                                
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model.Courts.Count() > 0)
            {
                <div class="tm__container">
                    <h3 class="tm__blocks__title">Courts of Admittance</h3>
                    <div class="tm__block__details">
                        <div class="tm__block_details__info">
                            <ul>
                                @foreach (var c in Model.Courts)
                                {
                                    @Html.Raw(c.Data)
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

<style>
    .team__member__photo__block{
        display:block;
    }
    .team__member__photo__block .photo__block__image{
        display:inline-block;
        vertical-align:middle;
        width:250px;
        height:250px;
        margin:0 1%;
        border-radius:50%;
    }
    .team__member__photo__block .photo__block__image img{
        vertical-align:top;
    }
    .team__member__photo__block:before, .team__member__photo__block:after {
        content:"";
        display:inline-block;
        vertical-align:middle;
        width:calc(48% - 126px);
        border-bottom:1px solid #e54a35;
    }
    .team__member__bio{
        display:block;
        width:100%;
        padding: 2rem .5rem;
    }
    .team__member__bio p{
        margin: 0 0 1rem;
        font-size:1.125rem;
        line-height: 1.25;
    }

    .team__member__blocks{
        display:block;
        text-align:left;
        margin: 0 .5rem 1rem;
    }
    .tm__container{
        display:inline-block;
        width:100%;
        xmax-width:46%;
        vertical-align:top;
        margin:1%;
        padding:1rem;
    }
    .tm__blocks__title{
        display:block;
        text-align:left;
        font-size:1.8rem;
        font-weight:700;
        color:#1D176D;
        margin: 0 0 1rem;
    }
    .tm__block__details{
        display:block;

    }
        .tm__block_details__info{
            display:block;
            font-size:1rem;
            font-weight:300;
            margin:0 0 .5rem;
        }
        .tm__block__details__main{
            display:block;
            margin:0 0 .25rem;
            font-size:1.25rem;
        }
        .tm__block__details__second{
            display:block;
            padding:0 0  0 1rem;
        }
        .tm__block_details__info ul{
            list-style:disc;
            margin: 0 0 .75rem;
            font-size:inherit;
        }
            .tm__block_details__info li{
                margin: 0 0 .5rem;
                line-height:1.5;
            }
        .tm__block_details__info p{
            margin: 0 0 .25rem;
            font-size:inherit;
            line-height:1.25;
        }
    @@media screen and (min-width:768px){
        .tm__container{
            max-width:46%;
        }
    }
</style>